@model IEnumerable<FinalProject.Models.Article>

@{
    ViewData["Title"] = "News";
}
<environment include="Development">
    <link rel="stylesheet" href="~/css" />
</environment>


<!DOCTYPE html>
<html>
<body>
    <div>
        @if (User.IsInRole("Regular") || User.IsInRole("Admin") || User.IsInRole("Author"))
        {
            @using (Html.BeginForm("Index", "Article", FormMethod.Get))
            {
                <form asp-controller="ArticleController" asp-action="Index" method="get">
                    <div class="top-one">
                        <div class="search-tbl-header">
                            <table cellpadding="0" cellspacing="0" border="0" class="search-tbl">
                                <thead>
                                    <tr>
                                        <th class="search-tbl-th"><input type="text" placeholder="Article title" id="ArticleTitle" name="ArticleTitle" class="search-box"></th>
                                        <th class="search-tbl-th"><input type="text" placeholder="Auther name" id="AutherName" name="AutherName" class="search-box"></th>
                                        <th class="search-tbl-th"><input type="text" placeholder="words from text" id="ArticleText" name="ArticleText" class="search-box"></th>
                                        <th class="search-tbl-th"><input placeholder="From date" data-date-format="dd/MM/yyyy" type="date" onfocus="(this.type='date')" id="StartDate" name="StartDate" class="search-box"></th>
                                        <th class="search-tbl-th"><input placeholder="To date" data-date-format="dd/MM/yyyy" type="date" onfocus="(this.type='date')" id="EndDate" name="EndDate" class="search-box"></th>
                                        <th class="search-tbl-th"><button id="SearchArticles" class="btn search-btn">Search</button></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </form>
            }
            int i = 0;

            <div class="top-one">
                @foreach (var item in Model)
                {
                    i++;

                    if (i == 1)
                    {
                      
                        <a asp-controller="Article" asp-action="Details" asp-route-id="@item.ID">
                        <dl>
                            <dd class="top-one-dd">
                                @{var imagePath = "/images/" + item.Image;
                                    if (item.Image == null) { imagePath = ""; } }
                                <img src=@imagePath style="width: 50%; height: 100%;" alt=@item.Image />
                                <div class="one-article-text">
                                    <h2>@Html.DisplayFor(model => item.Title)</h2>
                                    <h4>@Html.DisplayFor(model => item.Author) at @Html.DisplayFor(model => item.PublishDate) </h4>
                                    <p class="one-article-p">@Html.DisplayFor(model => item.Text)</p>
                                </div>

                            </dd>
                        </dl>
                        </a>

                    }
                    break;
                }
            </div>
            {
                i = 0;
            }

            <div class="top-five">
                @foreach (var item in Model)
                {
                    i++;
                    if ((i <= 5) && (i > 1))
                    {
                        <div class="each-top-five">
                            <a asp-controller="Article" asp-action="Details" asp-route-id="@item.ID">
                                <dl>
                                    <dd class="top-five-dd">
                                        @{var imagePath = "/images/" + item.Image;
                                            if (item.Image == null) { imagePath = ""; } }
                                        <img src=@imagePath style="width: 35%; height: 100%;" alt=@item.Image />
                                        <div class="five-article-text">
                                            <h2>@Html.DisplayFor(model => item.Title)</h2>
                                            <h4>@Html.DisplayFor(model => item.Author)</h4>
                                            <p>@Html.DisplayFor(model => item.Text)</p>
                                        </div>
                                    </dd>
                                </dl>
                            </a>
                        </div>
                    }
                    else if (i > 5)
                    {
                        break;
                    }
                }
            </div>
            {
                i = 0;
            }
            <div class="later-articles">
                <br />
                @foreach (var item in Model)
                {
                    i++;

                    if (i > 5)
                    {
                        <div class="each-later-articles">
                            <a asp-controller="Article" asp-action="Details" asp-route-id="@item.ID">
                                <dl>
                                    <dd class="later-article-dd">
                                        @{var imagePath = "/images/" + item.Image;
                                            if (item.Image == null) { imagePath = ""; } }
                                        <img id="detailsImage" src=@imagePath style="height: 80%; width: 100%;" alt=@item.Image />
                                        <div class="later-article-text">
                                            <h4>@Html.DisplayFor(model => item.Title)</h4>
                                        </div>
                                    </dd>
                                </dl>
                            </a>
                        </div>
                    }
                    else if (i > 13)
                    {
                        break;
                    }
                }
            </div>
        }
                        else
                        {
                        < p > Please Login to view the content </ p >
                        };
                    </div>
    <br /><br /><br />
    <br /><br /><br />
    <br /><br /><br />
    <br /><br />

</body>
</html>