
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FIFA World Cup 2018</title>

    <environment include="Development">
        <script src="~/js/modernizr-2.6.2.js"></script>
        <link rel="stylesheet" href="~/css/News.css" />
    </environment>

    <!-- <link rel="stylesheet" href="~/css/News.css" type="text/css" media="screen" /> -->
    
        <environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
       
</head>
<body>
    <div class="page-wrapper">
        <br /><br />
        <header>
            <img src="~/images/Fifa_World_Cup_Russia_2018_logo.png" alt="FIFA World Cup 2018" style="width:25%; margin-left:8%;" class="logo"
                 onclick="location.href='@Url.Action("Status", "News")'" />
        </header>
        <br /><br />
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="News" asp-action="Status" class="navbar-brand">FinalProject</a>
                </div>
                <div class="navbar-collapse collapse" id="=slow">
                    <ul class="nav navbar-nav">
                        @if (User.IsInRole("Admin"))
                        {
                            <li><a asp-area="" asp-controller="News" asp-action="Index">News</a></li>
                            <li><a asp-area="" asp-controller="Team" asp-action="GameStatistics">Game Statistics</a></li>
                            <li><a asp-area="" asp-controller="Team" asp-action="Map">Map</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a asp-area="" asp-controller="Account" asp-action="Details">My Account</a></li>
                                    <li class="divider"></li>
                                    <li><a asp-area="" asp-controller="Account" asp-action="ManageUsers">Users</a></li>
                                    <li><a asp-area="" asp-controller="Account" asp-action="CreateAuthor">Add Auther</a></li>
                                    <li class="divider"></li>
                                    <li><a asp-area="" asp-controller="Article" asp-action="Index">Articles</a></li>
                                    <li><a asp-area="" asp-controller="Article" asp-action="Create">Add Article</a></li>
                                    <li><a asp-area="" asp-controller="Comments" asp-action="Index">Comment</a></li>
                                    <li class="divider"></li>
                                    <li><a asp-area="" asp-controller="Team" asp-action="Index">Teams</a></li>
                                    <li class="divider"></li>
                                    <li><a asp-area="" asp-controller="Article" asp-action="Diagnostics">Article Timeline</a></li>
                                    <li><a asp-area="" asp-controller="Enter" asp-action="Diagnostics">Most viewd articles</a></li>
                                </ul>
                            </li>
                        }
                        @if (User.IsInRole("Author"))
                        {
                            <li><a asp-area="" asp-controller="News" asp-action="Index">News</a></li>
                            <li><a asp-area="" asp-controller="Team" asp-action="GameStatistics">Game Statistics</a></li>
                            <li><a asp-area="" asp-controller="Team" asp-action="Map">Map</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a asp-area="" asp-controller="Account" asp-action="Details">My Account</a></li>
                                    <li class="divider"></li>
                                    <li><a asp-area="" asp-controller="Article" asp-action="Index">My Articles</a></li>
                                    <li><a asp-area="" asp-controller="Article" asp-action="Create">Add Article</a></li>
                                    <li><a asp-area="" asp-controller="Comments" asp-action="Index">My Comment</a></li>
                                </ul>
                            </li>
                        }

                        <li><a asp-area="" asp-controller="News" asp-action="Index">News</a></li>
                        <li><a asp-area="" asp-controller="Team" asp-action="GameStatistics">Game Statistics</a></li>
                        <li><a asp-area="" asp-controller="Team" asp-action="Map">Map</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="Account" asp-action="Details">My Account</a></li>
                                <li class="divider"></li>
                                <li><a asp-area="" asp-controller="Comments" asp-action="Index">My Comment</a></li>
                            </ul>
                        </li>

                    </ul>
                    @Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <section id="about">
                <h3>About</h3>
                <p>
                    In this website you can find articles about FIFA World Cup 2018.
                    Also Information About the Games On Real Time!!
                </p>

            </section>
            <section id="Creators">
                <h3>Creators</h3>
                <ul>
                    <li>Yarden Bitan</li>
                    <li>Hen Ben Shimol</li>
                </ul>
            </section>
        </div>
    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/bootstrap.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
